@()

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
    <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i>
    <div class="w3-center">
        <h2>Jake's practice application</h2>
        <h1 class="w3-xxxlarge w3-animate-bottom">Using play 2.7</h1>
        <div class="w3-padding-32">
            <button class="w3-btn w3-xlarge w3-theme-dark w3-hover-teal" onclick="document.getElementById('id01').style.display = 'block'" style="font-weight: 900;">
                    LEARN W3.CSS</button>
        </div>
    </div>
</header>